@media screen and (max-width: 500px){

  #events {
    flex-direction: column-reverse;
  }
  .right-sec{
    width: 100%;
    height: 20%;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border: none;
    overflow-y: hidden;
  }
  .left-sec{
    height:80%;
    width: 100%;
  }
}