/**standerds**/

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html,
body {
  margin: 0px;
  padding: 0px;
}

i {
  cursor: pointer;
}

a {
  cursor: pointer;
    text-decoration: none;
    color: black;
}




/***********************/

nav {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  padding: 2px;
}

/** logo and notification button **/
#logo {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
#logo img {
  width: 150px;
  margin-right: 30px;
}

#logo i {
  font-size: 35px;
}

/** search bar **/

#search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-container input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid black;
}
.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

/** navigations & register **/

#navs-reg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#navs-reg #menu {
  font-size: 35px;
  display: none;
}

/** navigation buttons **/
.navs-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navs-cont a {
  text-decoration: none;
  margin: 0px 10px;
}

/** register buttons **/
#navs-reg #user-icon {
  font-size: 35px;
  margin-left: 30px;
}
.reg-cont {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.reg-cont a {
  font-weight: 200;
  margin-bottom: 15px;
}

/**********************************************************/
/**********************************************************/

/******* MEDIA QUIRIES ********/

@media screen and (max-width: 900px) {
  /**** navs buttons ****/

  #navs {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  #menu {
    display: block !important;
  }
}
