/*****************Global Css *******************/

/*****************Global Css *******************/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
 
}

body {
  font-family: 'arial', sans-serif;
  outline: none;
  background-color: #fff;
  padding: 0px;
  margin: 0px;
   
}

input,
button {
  cursor: pointer
}

.clearfix {
  clear: both
}




.Workshop{
 text-align: center;
 margin-top: 20px ;
 border-bottom: #eee solid 2px;
 height: 100px;
}
.Workshop h4{
 color:#00363d ;
 font-size: 35px;
 font-weight: bold;
}
.Workshop p{
  color:#a6a6a6 ;
 font-size: 17px;
 margin-top: -7px;
}
/******************** start diaglog*******************************************/
#myBtn{
  font-size: 20px;
  width: 100px;
  height: 45px;
  color:#fff;
  background: #ff0000;
  float: right;
  margin-right: 150px;
  margin-top: 40px;
   border: none;
}
/**********************(start daliag)***********************/
/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  display: flex;
  flex-direction: column;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modalete {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top:10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  display: flex;
  flex-direction: column;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.content{
height: 100%;
width: 50%;
background-color:#00363d; 
margin: auto;
border: 1px solid #888;
display: flex;
flex-direction: column;}
.contentreport{
height: 50%;
width: 50%;
background-color:#00363d; 
margin: auto;
border: 1px solid #888;
display: flex;
flex-direction: column;}
/* The Close Button */
/* The Close Button */
.close , .closereport{
  
  float: right;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.closereport:hover,
.closereport:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.edit-item{
  margin: auto;
  margin-left:100px;
}
.home{
  margin-top:20px;}
  .homereport{
 margin-left: 50px;
 margin-top: 40px;
}
label{
  color: #ff0000;
  font-weight: bold;
  font-size: 20px;
  display: block;
}
textarea,
input{
  display: block;
  padding: 2px 10px ;
}
.goal{
  margin-top: 35px;
}
.spam-inappropriate{
margin-left: 100px;
position: absolute;

}
#spam {
 margin-top: 10px;
}
#inappropriate{
 margin-top: 30px;
}
.spam,.inappropriate{
 padding-left: 25px;

}
.inappropriate{
 margin-top: 20px;
}
.submit{
  background-color: #ff0000;
    color: aliceblue;
   width:100px;
   position: absolute;
   font-size: 20px;
   margin-left:40px;
   text-align: center;
    margin-top:40px;
}
/************** end dialog**********************************/

.Interests{
 margin: 30px 0 0 60px;
}
.Interests p span{
 color: #Ff0000;
 font-weight: bold;
}
.Interests h6{
  font-size: 35px;
}
.Interests p{
    font-size: 22px;
    height: 20px;
    color: #5B5959;
    
}
#line-1{
 width: 400px;
 height: 3px;
 background:#5B5959;
 position: absolute;
 margin: 50px 0 0 500px;
}
.Goal{
 margin: 120px 0 0 60px;
}
.Goal h5{
  font-size: 35px;
}
.Goal p{
    font-size: 22px;
    height: 20px;
    color: #5B5959;
    
}
.Goal p span{
 color: #Ff0000;
 font-weight: bold;
}
#line-2{
 width: 400px;
 height: 3px;
 background:#5B5959;
 position: absolute;
 margin: 50px 0 0 500px;
}
.description{
    position: absolute;
    margin: 90px 0 0 60px ;
}
.description h1{
    font-size: 35px;
}
.description p{
    font-size: 22px;
    height: 20px;
    color: #5B5959;
    
}
#line-3{
 width: 400px;
 height: 3px;
 background:#5B5959;
 position: absolute;
 margin: 270px 0 0 500px;
}
.price{
       position: absolute;
    margin: 310px 0 0 60px ; 
}
.price h2{
     font-size: 35px; 
}
.price p{
    font-size: 22px;
    color: #5B5959; 
}
#line-4{
 width: 400px;
 height: 3px;
 background:#5B5959;
 position: absolute;
 margin: 450px 0 0 500px;
}
.target{
        position: absolute;
    margin: 520px 0 0 60px ;
}
.target h3{
    font-size: 35px; 
}
.target p{
    font-size: 22px;
    height: 20px;
    color: #5B5959;
    
}
.target p span{
  color: #Ff0000;
 font-weight: bold;
}
.butt{
    
    margin: 700px 0 0 500px;
    position: absolute;
}
.butt .share{
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background-color:#00363d ;
 margin: 15px 0 0 -80px;
 position: absolute;
}
.butt .share i{
 margin: 10px 0 0 10px ;
 position: absolute;
 font-size: 20px;
 color: #fff;
}

.butt button{
    border: none;
    width: 400px;
    height: 70px;
    font-size: 25px;
    background-color: #ff0000;
    color:#fff ;
    padding-bottom: 16px;
    border-radius: 30px;
    line-height: 4px;
    

    
}
.butt button i{
 font-size: 45px;
 padding-top: 6px;
}
.butt .circle{
 width: 40px;
 height: 40px;
 border-radius: 50%;

 margin: -70px 0 0 430px;
 position: absolute;
}
.butt .circle i{
 margin: 10px 0 0 10px ;
 position: absolute;
 font-size: 46px;
 color: #00363d;
 background-color:#fff ;
}
/**end item**/


/********** (delete button)**********************************/
#myBtndelete{
  font-size: 20px;
  width: 100px;
  height: 45px;
  color:#fff;
  background: #ff0000;
  float: right;
   margin-left: -410px;
  position: absolute;
  margin-top: 790px;
  border: none;
}
/********** (report button)**********************************/
#myBtnreport{
  font-size: 20px;
  width: 100px;
  height: 45px;
  color:#fff;
  background: #ff0000;
  border-radius: 5px;
  float: right;
  margin-left: 810px;
  position: absolute;
  margin-top: 800px;
  border: none;
}


/** start social**/
.end{
 width:100%;
 height: 100%;
 background-size:cover;
 position: absolute;
 margin-top: 900px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgba(0, 54, 61));

}
.end .imag{
  background-image: url('../images/backtoschool-07Converted.png');
   width:100%;
 height: 100%;
 background-size:cover;
 position: absolute;
 margin-top: 0px;
 overflow: hidden;
}

.end .imag .image1 img{
 width: 100%;
  position: absolute;
  overflow: hidden;
 margin-top: 100px;
}

.end .imag .image2 img{
 width: 11%;
 margin-top: 70px;
 position: absolute;
 margin-left: 350px;
}
.end .imag .image3 img{
 width: 11%;
margin-top: 180px;
position: absolute;
 margin-left:180px;
}
.end .link li{
 list-style: none;
}
.end .link li a{
 color: #000;
 font-size: 25px;
}
.end .link li .link1{
 margin: 110px 0 0 320px;
 position: absolute;
 text-decoration: none;
}
.end .link li .link2{
 margin: 210px 0 0 160px;
 position: absolute;
 text-decoration: none;
}
.end .link .social i{
 font-size: 45px;
}
.end .link .social .social1{
  margin: 150px 0 0 930px;
 position: absolute;
}
.end .link .social .social2{
  margin: 390px 0 0 955px;
 position: absolute;
}
.end .link .social  p{
 color: #fff;
 margin-top: 520px;
  margin-left:500px;
  font-size: 18px;
 position: absolute;
}
/** end social**/
