/** mobile & tablet**/
@media(max-width:767px){
 /* Start Navbar*/
 body{
  height: 900px;
 }

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.navbar {
  margin-top: 0px;
  height: 60px;
  background-color: #fff;
  z-index: 1;
  width: 100%
}

.navbar-header {
  padding: 0 0;
}

.navbar-brand {

  padding: 0 40px 0px 20px;
  height: 20px;
  margin-top: -1px;
  margin-left: -30px;
  line-height: 60px;
  display: block;
  position: absolute;
}

.navbar-brand img {
 width: 45px;
 height: 45px;
 margin-left:-10px;
}
#bell{
 position: absolute;
 color:#ff0000;
 margin-top: 14px;
 margin-left:30px;
 font-size: 27px;
}
.language{
  position: absolute;
  margin-left: 75px;
  margin-top:15px;

}
.language select {
  color:#ff0000;
 margin-top: -14px;
 font-size: 17px;
 border: none;
}
.toggle {
  float: right;
  width: 57px;
  height: 40px;
  padding-top: 2px;
  position: relative;
  border-radius: 5px;
  margin-top: 15px;
  margin-right:-300px;
  background-color: #ddd;
  cursor: pointer;
}
.link ul ul{
	display: none;
	transition: 1s ease-in-out;
	margin-top: 10px;
	position: absolute;
	margin-left: -60px;
}
.toggle  ul li{
	font-size: 15px;
	color: #0052cc;
margin-top: 10px;


}
.toggle ul li a{
	display: block;
	text-decoration: none;
	color: #404040;
	margin-top: 3px;
}
.toggle ul li:hover >ul{
	display: block;
	background-color: #eee;

}

.toggle ul li a:hover{
	color: #0000cc;

}

.toggle:hover {
  background: #fff;
}

.toggle:active {
  background: #fff;
}

.toggle:focus {
  outline: none;
}

.toggle > span {
  display: block;
  border-radius: 2px;
  height: 5px;
  width: 34px;
  background: #fff;
  margin: auto;
  margin-bottom: 3px;
}

.navlist {
  height: 0;
  float: right;
  overflow: hidden;
  background: #fff;
  padding: 0 ;
  transition: height .5s;
  padding-left: 0px;
  border-radius: 0 0 10px;
  position: relative;
  z-index: 1;
  text-align: center;
  top: auto;
}

.nav > li:first-child {
  padding-top: 5px;
}

.nav > li {
  list-style: none;
  display: block;
   text-align: center;
}

.nav > li > a {
  text-align: center;
  margin-left: 15px;
  line-height: 30px;
  background: #fff;
  text-align: right;
  color: #00363d;
  font-weight: bold;
  display: block;
  height: 35px;
  text-decoration: none;
  transition: all 1s ease;

}

.nav > li > a:hover{
 font-size: 20px;
  font-weight: bolder;
}

form{
    margin-left: 210px;
    margin-top: 7px;
    position: absolute;
    
}
form input{
   border: none;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
    position: absolute;
    width: 150px;
    height: 30px;
}

form i{
    width: 30px;
    height: 30px;
  color: #Ff0000;
  text-align: center;
  padding-top: 5px;
  margin-top: 1px;
  margin-left: 152px;
    border-radius:5px;
    border: 1px solid #ccc;
     box-shadow: 3px 2px 10px  #E4E4E4,
                 -3px -2px 10px  #E4E4E4
              ; 

}

.menu .toggl {
  float: right;
  padding-top: 2px;
  position: relative;
  margin-top: 2px;
  margin-left: 365px;
  cursor: pointer;
  background: none;
  border: none;
  width: 20px;
 
}

.menu>.toggl >ul>li>span {
  display: block;
  border-radius: 2px;
  height: 4px;
  width: 25px;
  background: #00363d;
  /**haver backgrounf**/ margin-left: 50px;
  margin-bottom: 3px;
  
}
.menu .toggl ul{
	list-style: none;
	margin-left: -30px;
	cursor: pointer;
 
	
}
.toggl ul li{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	padding-top: 10px;
	font-weight: bold;
	color: #1a1a1a;
	float: left;
margin-left: -30px;

}
.toggl ul ul{
	display: none;
	transition: 2s ease-in-out;
	margin-top: 10px;
	position: absolute;
padding-right: 80px;
 width: 60px;
}
.toggl ul ul li{
	font-size: 15px;
	color: #0052cc;
margin-top: -5px;
margin-left: -60px;
padding-left: 80px;


}
.toggl ul ul li a{
	display: block;
	text-decoration: none;
	color: #Ff0000;
    font-size: 17px;
	margin-top: 3px;
 margin-left: -50px;
 padding-top: 5px;
}
.toggl ul li:hover >ul{
	display: block;
	background-color: #00363d;
    height: 430px;
    width: 300px;
    margin-left: -230px;
   border-radius: 20px;

}
hr{
 background-color: #Ff0000;
 margin-left: -45px;
 width: 270px;
 height: 0.5px;
}
#link-nav{
    display: block;
    
}

#cont {
 margin-top:10px;
 padding-bottom:35px ;
   background-image: url('../images/background.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: bottom;
   width: 100%;
   height:100%;
   position: absolute;
   min-width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;


}

/*login*/

.login-form {
   width: 95%;
   height: 68vh;
   background-color:#ffffff20;
   position: relative;
   margin-top: 0px;
   margin-left: 0px;
   padding-top:21px;
   border-radius: 40px;
   display: flex;
   flex-direction: column;


}
.validate-form{
 margin-top: 30px;
}

input {
   padding-left: 0px;
}

.login-form form input{

   display: block;
   margin-top: 24px;


}

/*---------------------------------*/

.login-form-email{
   position: relative;
   margin-left: -150px;
  
}
.login-form-password{
   
   position: relative;
   margin-left: -150px;
}
.wrap-input5{
   margin-top: 60px;
}
.input1 , .input5 {
   width: 100%;
   height: 8vh;
   margin: auto;
   font-size: 16px;
   padding:5px 0;
   border: 1px solid#fff;
   color: #fff;
   border-radius: 5px;
   background: transparent;
 

}

/*==================================================================
   [ Focus input ]*/
.focus-input {
font-family: arial;
 position: absolute;
 display: block;
 width: 100%;
 top: 32px;
 left: 0;
 padding:5px 15px;
 font-size: 16px;
 color: rgba(255, 255, 255, 0.795);
 pointer-events: none;
 
 transition: all 0.4s;

}
/*email*/
.input1:focus ~ .focus-input,
.input1:valid ~ .focus-input,
.input5:focus ~ .focus-input,
.input5:valid ~ .focus-input {
 top:-15px;
 left: 0;
}
/* password*/

/*------------------------------*/

.login-form-password{   /* div home pass*/
   position: relative;
     margin-top: 12px;
   }


/*----------------------- show pass----------------------------------------------------*/
.icone{
 float: right;
}
.field-icon {
 float: right;
 padding-right:40px;
 margin-top: 40px;
 color: rgb(255, 13, 13);
 display: flex;
 position: relative;
 width: 10px;
 z-index: 2;
}
/*--------------------------------------------------*/
.forget-pass{

   width: 150%;
   display: block;
   height: 5vh;
   margin: auto;
   margin-top: 60px;
   padding-right: 19px;
   margin-bottom: -10px;
   margin-left: -150px;

}

span>a {
   color: rgba(255, 255, 255, 0.795);
   font-family: Arial;
   font-size: 19px;
}
span>a:hover{
   text-decoration: none;
     color: rgba(255, 255, 255, 0.795);
   font-family: Arial;
   font-size: 19px;
}


.login-form-button {
   width: 100%;
   height:7vh;
   color: #fff;
   font-family: Arial;
   text-align: center;
   font-size: 18px;
   font-weight: bold;
   background:#Ff0000;
   border:#Ff0000;
   border-radius: 5px;
   box-shadow: 1px 1px 1px #000;
   padding:0px 9px 0px  3px;
   margin: auto;
   margin-left: -150px;
   cursor: pointer;
}

.new-account {
   width: 100%;
   height: 0vh;
   margin: auto;
   margin-top: 70px;
   margin-left: -150px;
   position: relative;
   padding-right: 150px;
}

.new-account p {
   color: rgba(255, 255, 255, 0.795);
   font-family: Arial;
}

.Register a {
   color:#fff;
   font-family: Arial;
   font-size: 16px;
   font-weight: bold;
   width: 100%;
}

}
@media(min-width:768px) and (max-width:991px){
 .navbar-brand {

  padding: 0 40px 0px 20px;
  height: 20px;
  margin-top: -5px;
  margin-left: -30px;
  line-height: 60px;
  display: block;
  position: absolute;
}

.navbar-brand img {
 width: 45px;
 height: 45px;
 margin-left: 10px;
}
#search{
    margin-left: 440px;
    margin-top: 7px;
    position: absolute;
    
}
#search input{
   border: none;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
    position: absolute;
    width: 150px;
    height: 30px;
}

#search i{
    width: 30px;
    height: 30px;
  color: #Ff0000;
  text-align: center;
  padding-top: 5px;
  margin-top: 1px;
  margin-left: 152px;
    border-radius:5px;
    border: 1px solid #ccc;
     box-shadow: 3px 2px 10px  #E4E4E4,
                 -3px -2px 10px  #E4E4E4; 

}
#links{
    display: none;
}
.menu .toggl {
  float: right;
  padding-top: 2px;
  position: relative;
  margin-top: 2px;
  margin-left: 620px;
  cursor: pointer;
  background: none;
  border: none;
  width: 20px;
 
}

.menu>.toggl >ul>li>span {
  display: block;
  border-radius: 2px;
  height: 4px;
  width: 25px;
  background: #00363d;
  /**haver backgrounf**/ margin-left: 50px;
  margin-bottom: 3px;
  
}
.menu .toggl ul{
	list-style: none;
	margin-left: -30px;
	cursor: pointer;
 
	
}
.toggl ul li{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	padding-top: 10px;
	font-weight: bold;
	color: #1a1a1a;
	float: left;
margin-left: -30px;

}
.toggl ul ul{
	display: none;
	transition: all 2s ease-in-out;
	margin-top: 10px;
	position: absolute;
padding-right: 80px;
 width: 60px;
}
.toggl ul ul li{
	font-size: 15px;
	color: #0052cc;
margin-top: -5px;
margin-left: -60px;
padding-left: 80px;


}
.toggl ul ul li a{
	display: block;
	text-decoration: none;
	color: #Ff0000;
    font-size: 17px;
	margin-top: 3px;
 margin-left: -50px;
 padding-top: 5px;
}
.toggl ul li:hover >ul{
	display: block;
	background-color: #00363d;
    height: 430px;
    width: 300px;
    margin-left: -230px;
   border-radius: 20px;

}
hr{
 background-color: #Ff0000;
 margin-left: -45px;
 width: 270px;
 height: 0.5px;
}
#link-nav{
    display:block;
    
}
}
@media(min-width:992px) and (max-width:1200px){
  .navbar-brand {

  padding: 0 40px 0px 20px;
  height: 20px;
  margin-top: -5px;
  margin-left: -30px;
  line-height: 60px;
  display: block;
  position: absolute;
}

.navbar-brand img {
 width: 45px;
 height: 45px;
 margin-left: 10px;
}
#search{
    margin-left: 680px;
    margin-top: 7px;
    position: absolute;
    
}
#search input{
   border: none;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
    position: absolute;
    width: 150px;
    height: 30px;
}

#search i{
    width: 30px;
    height: 30px;
  color: #Ff0000;
  text-align: center;
  padding-top: 5px;
  margin-top: 1px;
  margin-left: 152px;
    border-radius:5px;
    border: 1px solid #ccc;
     box-shadow: 3px 2px 10px  #E4E4E4,
                 -3px -2px 10px  #E4E4E4; 

}
#links{
    margin-left: 220px;
}
.menu .toggl {
  float: right;
  padding-top: 2px;
  position: relative;
  margin-top: 2px;
  margin-left: 860px;
  cursor: pointer;
  background: none;
  border: none;
  width: 20px;
 
}
}
@media(min-width:1201px) and (max-width:1300px){
   .navbar-brand {

  padding: 0 40px 0px 20px;
  height: 20px;
  margin-top: -5px;
  margin-left: -30px;
  line-height: 60px;
  display: block;
  position: absolute;
}

.navbar-brand img {
 width: 45px;
 height: 45px;
 margin-left: 10px;
}
#search{
    margin-left: 840px;
    margin-top: 7px;
    position: absolute;
    
}
#search input{
   border: none;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
    position: absolute;
    width: 150px;
    height: 30px;
}

#search i{
    width: 30px;
    height: 30px;
  color: #Ff0000;
  text-align: center;
  padding-top: 5px;
  margin-top: 1px;
  margin-left: 152px;
    border-radius:5px;
    border: 1px solid #ccc;
     box-shadow: 3px 2px 10px  #E4E4E4,
                 -3px -2px 10px  #E4E4E4; 

}
#links{
    margin-left: 380px;
}
.menu .toggl {
  float: right;
  padding-top: 2px;
  position: relative;
  margin-top: 2px;
  margin-left: 1020px;
  cursor: pointer;
  background: none;
  border: none;
  width: 20px;
 
}
}
