
/** mobile & tablet**/

@media(max-width:767px){
     /* Start Navbar*/
 body{
  height: 900px;
 }

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
}




/** start items**/
#service{
 margin-top: 20px;
 margin-left: 20px;
 padding-right:30px;
 
}

.cotainer .row .items{
 border:  2.4px solid #ccc;
 border-radius: 6px;
  position: absolute;

  
}
.cotainer .row .items .background1{
 width: 450px;
 height: 190px;
 position: relative;
 
}
.cotainer .row .image h3{
 position: absolute;
 color: #Ff0000;
  font-family: good times;
  font-weight: bold;
 font-size: 40px;
 margin: 25px 0 0 175px;
}
    @font-face {
        font-family: "paraaminobenzoic";
        src: url("paraaminobenzoic.otf");
    }
    h3.custom_font {
        font-family: "paraaminobenzoic";
    }
 
.cotainer .row .paragrph{
 position: absolute;
}

.cotainer .row .paragrph p{
 position: absolute;
 color: #fff;
 font-size: 14px;
 margin: -42px 0 0 195px;
 width: 310px;
 
}
.cotainer .row .paragrph .paragrph1{
 margin: -42px 0 0 200px;
}
.cotainer .row .paragrph .paragrph3{
 margin: -42px 0 0 215px;
}
.cotainer .row .paragrph .paragrph2{
 float: right;
 padding-left: 100px;
 margin: -62px 0 0 146px;
position: absolute;

}
#path-2{
 position: absolute;
  fill:#00363d;
  fill-opacity:0.91;
}
/** end items**/

.filter{
  margin-top: 250px;
  position: relative;
}
/* The Modal (background) */

.filter button{
  background-color: #ff0000;
  margin-left: 50px;
  text-align: center;
  border: none;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  border-radius: 4px;
  letter-spacing: 1.5px;
}
.filter button i{
padding: 5px;
}   
/********** (edit button)**********************************/
#myBtn{
font-size: 20px;
width: 100px;
height: 45px;
color:#fff;
background: #ff0000;
margin-left: 150px;
}
.modal {
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 10px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
display: flex;
flex-direction: column;
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.content{
height: 100%;
width: 100%;
background-color:#00363d; 
margin: auto;
border: 1px solid #888;
display: flex;
flex-direction: column;}
/* The Close Button */
.close {
float: right;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
.edit-item{
margin-left:50px;
}
.home{
margin-top: 50px;
}
label{
color: #ff0000;
font-weight: bold;
font-size: 20px;
display: block;
}
textarea,
input{
display: block;
padding: 2px 10px ;
}
.submit{
 width:100px; 
 font-size: 20px;
 margin-left:150px;
 text-align: center;
  margin-top:40px;
  background-color: #ff0000;
  border: none;
  color: #ffff;
  border-radius: 4px;
}
/********************** end dialog*************************************/


/**start service**/
.help{
 width:96%;
 height: 50%;
 position: absolute;
 margin-top: 80px;
 margin-left: 20px;
border-bottom: #eee solid 2px;
border-top: #eee solid 2px;

}
.help h3{
margin: 20px 0 0 -350px;
}
.help h4{
margin: -23px 0 0 325px;
color: #737373;
font-size: 20px;
}
.help p{
margin: 30px 0 0 0;
color: #737373;
font-size: 20px;
width: 400px;
}
.help span{
margin: 30px  0 0 -190px;
background-color:  #eee;
width: 370px;
height: 1.5px;
position: absolute;
}
.help a{
margin: 60px 0 0 0;
font-size: 20px;
font-weight:normal;
}
.help i{
 font-size: 40px;
}

.interest{
 width:96%;
 height: 56%;
 position: absolute;
 margin-top: 500px;
 margin-left: 20px;
border-bottom: #eee solid 2px;
border-top: #eee solid 2px;

}
.interest h3{
margin: 20px 0 0 -320px;
}
.interest h4{
margin: -23px 0 0 320px;
color: #737373;
font-size: 20px;
}
.interest p{
margin: 30px 0 0 0;
color: #737373;
font-size: 20px;
width: 400px;
}
.interest span{
margin: 30px  0 0 -190px;
background-color:  #eee;
width: 370px;
height: 1.5px;
position: absolute;
}
.interest a{
margin: 60px 0 0 0;
font-size: 20px;
font-weight:normal;
}
.interest i{
 font-size: 40px;
}

/**end service**/






.end{
 width:485px;
 max-width:767px;
 height: 60%;
 background-size:cover;
 position: absolute;
 margin-top: 900px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgba(0, 54, 61));

}
.end .imag{
  background-image: url('../images/backtoschool-07Converted.png');
  width:485px;
 max-width:767px;
 height: 100%;
 background-size:cover;
 position: absolute;
 margin-top: 0px;
 overflow: hidden;
}

.end .imag .image1 img{
 width: 100%;
  position: absolute;
  overflow: hidden;
 margin-top: 100px;
}

.end .imag .image2 img{
 width: 18%;
 margin-top: 50px;
 position: absolute;
 margin-left: 110px;
}
.end .imag .image3 img{
 width: 18%;
margin-top: 130px;
position: absolute;
 margin-left:60px;
}
.end .link li{
 list-style: none;
}
.end .link li a{
 color: #000;
 font-size: 16px;
}
.end .link li .link1{
 margin: 65px 0 0 75px;
 position: absolute;
 text-decoration: none;
}
.end .link li .link2{
 margin: 140px 0 0 30px;
 position: absolute;
 text-decoration: none;
}
.end .link .social i{
 font-size: 25px;
}
.end .link .social .social1{
  margin: 102px 0 0 330px;
 position: absolute;
}
.end .link .social .social2{
  margin: 190px 0 0 340px;
 position: absolute;
}
.end .link .social  p{
 color: #fff;
 margin-top: 300px;
  margin-left:60px;
  font-size: 15px;
 position: absolute;
}
    
}


@media(min-width:768px) and (max-width:991px){
 /** start items**/
 
#service{
 margin-top: 20px;
 margin-left: 0px;
 padding-right:30px;
 
}

.cotainer .row .items{
 border:  2.4px solid #ccc;
 border-radius: 6px;
  position: absolute;

  
}
.cotainer .row .items .background1{
 width: 725px;
 height: 220px;
 position: relative;
 
}
.cotainer .row .image h3{
 position: absolute;
 color: #Ff0000;
  font-family: good times;
  font-weight: bold;
 font-size: 40px;
 margin: 30px 0 0 320px;
}
    @font-face {
        font-family: "paraaminobenzoic";
        src: url("paraaminobenzoic.otf");
    }
    h3.custom_font {
        font-family: "paraaminobenzoic";
    }
 
.cotainer .row .paragrph{
 position: absolute;
}

.cotainer .row .paragrph p{
 position: absolute;
 color: #fff;
 font-size: 18px;
 margin: -42px 0 0 265px;
 width: 440px;
 
}
.cotainer .row .paragrph .paragrph1{
 margin: -52px 0 0 325px;
}
.cotainer .row .paragrph .paragrph3{
 margin: -42px 0 0 215px;
}
.cotainer .row .paragrph .paragrph2{
 float: right;
 padding-left: 100px;
 margin: -53px 0 0 255px;
position: absolute;

}
#path-2{
 position: absolute;
  fill:#00363d;
  fill-opacity:0.91;
}
/** end items**/






.filter{
  margin-top: 280px;
  position: relative;
  
}
.filter button{
  background-color: #ff0000;
  border: none;
  text-align: center;
  margin-left: 50px;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  border-radius: 4px;
  letter-spacing: 1.5px;
}
.filter button i{
padding: 5px;
}

/********** (edit button)**********************************/
#myBtn{
font-size: 20px;
width: 100px;
height: 45px;
text-align: center;
color:#fff;
background: #ff0000;
margin-left: 300px;
}
.modal {
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 10px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
display: flex;
flex-direction: column;
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.content{
height: 100%;
width: 80%;
background-color:#00363d; 
margin: auto;
border: 1px solid #888;
display: flex;
flex-direction: column;}
/* The Close Button */
.close {
float: right;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
.edit-item{
margin-left:60px;
}
/* photo profile**********************************/
.photo{
margin-left:20px;
}

#blah{
max-width:120px;
border-radius: 40px;
position: relative;
}

.update-photo{
margin-top: 2px;
}

.inputfile {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;

}
.inputfile + label {
font-size: 1.25em;
font-weight: 20px;
color: white;
background:#b3b3b3;
display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
background-color: red;
}
.home{
margin-top: 50px;
}
label{
color: #ff0000;
font-weight: bold;
font-size: 20px;
display: block;
}
textarea,
input{
display: block;
padding: 2px 10px ;
}
.submit{
 width:100px; 
 font-size: 20px;
 margin-left:150px;
 text-align: center;
  margin-top:35px;
  background-color: #ff0000;
  border: none;
  color: #ffff;
  border-radius: 4px;
  letter-spacing: 1.5px;
}
/********************** end dialog*************************************/

  


/**start service**/
.help{
 width:96%;
 height: 50%;
 position: absolute;
 margin-top: 80px;
 margin-left: 20px;
border-bottom: #eee solid 2px;
border-top: #eee solid 2px;

}
.help h3{
margin: 20px 0 0 -500px;
}
.help h4{
margin: -23px 0 0 525px;
color: #737373;
font-size: 20px;
}
.help p{
margin: 30px 0 0 0;
color: #737373;
font-size: 20px;
width: 400px;
}
.help span{
margin: 30px  0 0 -190px;
background-color:  #eee;
width: 370px;
height: 1.5px;
position: absolute;
}
.help a{
margin: 60px 0 0 0;
font-size: 20px;
font-weight:normal;
}
.help i{
 font-size: 40px;
}

.interest{
 width:96%;
 height: 56%;
 position: absolute;
 margin-top: 500px;
 margin-left: 20px;
border-bottom: #eee solid 2px;
border-top: #eee solid 2px;

}
.interest h3{
margin: 20px 0 0 -520px;
}
.interest h4{
margin: -23px 0 0 520px;
color: #737373;
font-size: 20px;
}
.interest p{
margin: 30px 0 0 0;
color: #737373;
font-size: 20px;
width: 400px;
}
.interest span{
margin: 30px  0 0 -190px;
background-color:  #eee;
width: 370px;
height: 1.5px;
position: absolute;
}
.interest a{
margin: 60px 0 0 0;
font-size: 20px;
font-weight:normal;
}
.interest i{
 font-size: 40px;
}

/**end service**/



.end{
 width:755px;
 max-width:991px;
 height: 65%;
 background-size:cover;
 position: absolute;
 margin-top: 900px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgba(0, 54, 61));

}
.end .imag{
  background-image: url('../images/backtoschool-07Converted.png');
  width:755px;
 max-width:991px;
 height: 100%;
 background-size:cover;
 position: absolute;
 margin-top: 0px;
 overflow: hidden;
}

.end .imag .image1 img{
 width: 100%;
  position: absolute;
  overflow: hidden;
 margin-top: 100px;
}

.end .imag .image2 img{
 width: 15%;
 margin-top: 30px;
 position: absolute;
 margin-left: 130px;
}
.end .imag .image3 img{
 width: 15%;
margin-top: 130px;
position: absolute;
 margin-left:60px;
}
.end .link li{
 list-style: none;
}
.end .link li a{
 color: #000;
 font-size: 19px;
}
.end .link li .link1{
 margin: 55px 0 0 100px;
 position: absolute;
 text-decoration: none;
}
.end .link li .link2{
 margin: 153px 0 0 35px;
 position: absolute;
 text-decoration: none;
}
.end .link .social i{
 font-size: 30px;
}
.end .link .social .social1{
  margin: 116px 0 0 518px;
 position: absolute;
}
.end .link .social .social2{
  margin: 255px 0 0 530px;
 position: absolute;
}
.end .link .social  p{
 color: #fff;
 margin-top: 320px;
  margin-left:150px;
  font-size: 18px;
 position: absolute;
}
}





@media(min-width:992px) and (max-width:1200px){
 /** start items**/
 
#service{
 margin-top: 20px;
 margin-left: 20px;
 padding-right:30px;
 
}

.cotainer .row .items{
 border:  2.4px solid #ccc;
 border-radius: 6px;
  position: absolute;

  
}
.cotainer .row .items .background1{
 width: 930px;
 height: 220px;
 position: relative;
 
}
.cotainer .row .image h3{
 position: absolute;
 color: #Ff0000;
  font-family: good times;
  font-weight: bold;
 font-size: 40px;
 margin: 30px 0 0 450px;
}
    @font-face {
        font-family: "paraaminobenzoic";
        src: url("paraaminobenzoic.otf");
    }
    h3.custom_font {
        font-family: "paraaminobenzoic";
    }
 
.cotainer .row .paragrph{
 position: absolute;
}

.cotainer .row .paragrph p{
 position: absolute;
 color: #fff;
 font-size: 23px;
 margin: -42px 0 0 335px;
 width: 570px;
 
}
.cotainer .row .paragrph .paragrph1{
 margin: -65px 0 0 455px;
}
.cotainer .row .paragrph .paragrph3{
 margin: -42px 0 0 215px;
}
.cotainer .row .paragrph .paragrph2{
 float: right;
 padding-left: 100px;
 margin: -65px 0 0 355px;
position: absolute;

}
#path-2{
 position: absolute;
  fill:#00363d;
  fill-opacity:0.91;
}
/** end items**/







.filter{
  margin-top: 280px;
  position: relative;

}
.filter button{
  background-color: #ff0000;
  border: none;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  border-radius: 4px;
  letter-spacing: 1.5px;
  margin-left: 50px;
}
.filter button i{
padding: 5px;
}
/********** (edit button)**********************************/
/********** (edit button)**********************************/
#myBtn{
  font-size: 20px;
  width: 100px;
  height: 45px;
text-align: center;
  color:#fff;
  background: #ff0000;
  margin-left: 500px;
}
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  display: flex;
  flex-direction: column;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.content{
height: 100%;
width: 50%;
background-color:#00363d; 
margin: auto;
border: 1px solid #888;
display: flex;
flex-direction: column;}
/* The Close Button */
.close {
  float: right;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.edit-item{
  margin-left:70px;
}

.home{
  margin-top: 50px;
}
label{
  color: #ff0000;
  font-weight: bold;
  font-size: 20px;
  display: block;
}
textarea,
input{
  display: block;
  padding: 2px 10px ;
}
.submit{
   width:100px; 
   font-size: 20px;
   margin-left:150px;
    margin-top:40px;
    background-color: #ff0000;
    border: none;
    color: #ffff;
    text-align: center;
    border-radius: 4px;
}
/********************** end dialog************************/
  
  
  
  

/**start service**/
.help{
 width:96%;
 height: 50%;
 position: absolute;
 margin-top: 80px;
 margin-left: 20px;
border-bottom: #eee solid 2px;
border-top: #eee solid 2px;

}
.help h3{
margin: 20px 0 0 -700px;
}
.help h4{
margin: -23px 0 0 725px;
color: #737373;
font-size: 20px;
}
.help p{
margin: 30px 0 0 0;
color: #737373;
font-size: 20px;
width: 400px;
}
.help span{
margin: 30px  0 0 -190px;
background-color:  #eee;
width: 370px;
height: 1.5px;
position: absolute;
}
.help a{
margin: 60px 0 0 0;
font-size: 20px;
font-weight:normal;
}
.help i{
 font-size: 40px;
}

.interest{
 width:96%;
 height: 56%;
 position: absolute;
 margin-top: 500px;
 margin-left: 20px;
border-bottom: #eee solid 2px;
border-top: #eee solid 2px;

}
.interest h3{
margin: 20px 0 0 -720px;
}
.interest h4{
margin: -23px 0 0 720px;
color: #737373;
font-size: 20px;
}
.interest p{
margin: 30px 0 0 0;
color: #737373;
font-size: 20px;
width: 400px;
}
.interest span{
margin: 30px  0 0 -190px;
background-color:  #eee;
width: 370px;
height: 1.5px;
position: absolute;
}
.interest a{
margin: 60px 0 0 0;
font-size: 20px;
font-weight:normal;
}
.interest i{
 font-size: 40px;
}

/**end service**/





.end{
 width:965px;
 max-width:1200px;
 height: 85%;
 background-size:cover;
 position: absolute;
 margin-top: 900px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgba(0, 54, 61));

}
.end .imag{
  background-image: url('../images/backtoschool-07Converted.png');
  width:965px;
 max-width:1200px;
 height: 100%;
 background-size:cover;
 position: absolute;
 margin-top: 0px;
 overflow: hidden;
}

.end .imag .image1 img{
 width: 100%;
  position: absolute;
  overflow: hidden;
 margin-top: 100px;
}

.end .imag .image2 img{
 width: 13%;
 margin-top: 30px;
 position: absolute;
 margin-left: 230px;
}
.end .imag .image3 img{
 width: 13%;
margin-top: 130px;
position: absolute;
 margin-left:120px;
}
.end .link li{
 list-style: none;
}
.end .link li a{
 color: #000;
 font-size: 23px;
}
.end .link li .link1{
 margin: 60px 0 0 195px;
 position: absolute;
 text-decoration: none;
}
.end .link li .link2{
 margin: 155px 0 0 90px;
 position: absolute;
 text-decoration: none;
}
.end .link .social i{
 font-size: 40px;
}
.end .link .social .social1{
  margin: 126px 0 0 660px;
 position: absolute;
}
.end .link .social .social2{
  margin: 300px 0 0 680px;
 position: absolute;
}
.end .link .social  p{
 color: #fff;
 margin-top: 430px;
  margin-left:250px;
  font-size: 20px;
 position: absolute;
}
}


@media(min-width:1201px) and (max-width:1300px){
    
    
#service{
 margin-top: 20px;
 margin-left: 20px;
 padding-right:30px;
 
}

.cotainer .row .items{
 border:  2.4px solid #ccc;
 border-radius: 6px;
  position: absolute;

  
}
.cotainer .row .items .background1{
 width: 1130px;
 height: 300px;
 position: relative;
 
}
.cotainer .row .image h3{
 position: absolute;
 color: #Ff0000;
  font-family: good times;
  font-weight: bold;
 font-size: 40px;
 margin: 30px 0 0 570px;
}
    @font-face {
        font-family: "paraaminobenzoic";
        src: url("paraaminobenzoic.otf");
    }
    h3.custom_font {
        font-family: "paraaminobenzoic";
    }
 
.cotainer .row .paragrph{
 position: absolute;
}

.cotainer .row .paragrph p{
 position: absolute;
 color: #fff;
 font-size: 23px;
 margin: -42px 0 0 335px;
 width: 730px;
 
}
.cotainer .row .paragrph .paragrph1{
 margin: -65px 0 0 455px;
}
.cotainer .row .paragrph .paragrph3{
 margin: -42px 0 0 215px;
}
.cotainer .row .paragrph .paragrph2{
 float: right;
 padding-left: 100px;
 margin: -70px 0 0 395px;
position: absolute;

}
#path-2{
 position: absolute;
  fill:#00363d;
  fill-opacity:0.91;
}
/** end items**/








.filter{
  margin-top: 370px;
  position: relative;
  
}
.filter button{
  background-color: #ff0000;
  border: none;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  border-radius: 4px;
  letter-spacing: 1.5px;
  margin-left: 50px;
}
.filter button i{
padding: 5px;
} 
    /********** (edit button)**********************************/
#myBtn{
  font-size: 20px;
  width: 100px;
  height: 45px;
text-align: center;
  color:#fff;
  background: #ff0000;
}
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  display: flex;
  flex-direction: column;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.content{
height: 100%;
width: 50%;
background-color:#00363d; 
margin: auto;
border: 1px solid #888;
display: flex;
flex-direction: column;}
/* The Close Button */
.close {
  float: right;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.edit-item{
  margin-left:100px;
}

.home{
  margin-top: 50px;
}
label{
  color: #ff0000;
  font-weight: bold;
  font-size: 20px;
  display: block;
}
textarea,
input{
  display: block;
  padding: 2px 10px ;
}
.submit{
   width:100px; 
   font-size: 20px;
   margin-left:150px;
    margin-top:40px;
    text-align: center;
    background-color: #ff0000;
    border: none;
    color: #ffff;
    text-align: center;
    border-radius: 4px;
}
/********************** end dialog*************************************/
    
    
  
  
  
  

/**start service**/
.help{
 width:96%;
 height: 50%;
 position: absolute;
 margin-top: 80px;
 margin-left: 20px;
border-bottom: #eee solid 2px;
border-top: #eee solid 2px;

}
.help h3{
margin: 20px 0 0 -900px;
}
.help h4{
margin: -23px 0 0 925px;
color: #737373;
font-size: 20px;
}
.help p{
margin: 30px 0 0 0;
color: #737373;
font-size: 20px;
width: 400px;
}
.help span{
margin: 30px  0 0 -190px;
background-color:  #eee;
width: 370px;
height: 1.5px;
position: absolute;
}
.help a{
margin: 60px 0 0 0;
font-size: 20px;
font-weight:normal;
}
.help i{
 font-size: 40px;
}

.interest{
 width:96%;
 height: 56%;
 position: absolute;
 margin-top: 500px;
 margin-left: 20px;
border-bottom: #eee solid 2px;
border-top: #eee solid 2px;

}
.interest h3{
margin: 20px 0 0 -920px;
}
.interest h4{
margin: -23px 0 0 920px;
color: #737373;
font-size: 20px;
}
.interest p{
margin: 30px 0 0 0;
color: #737373;
font-size: 20px;
width: 400px;
}
.interest span{
margin: 30px  0 0 -190px;
background-color:  #eee;
width: 370px;
height: 1.5px;
position: absolute;
}
.interest a{
margin: 60px 0 0 0;
font-size: 20px;
font-weight:normal;
}
.interest i{
 font-size: 40px;
}

/**end service**/
    
    
    
    
    
    .end{
 width:1210px;
 max-width:1300px;
 height: 93%;
 background-size:cover;
 position: absolute;
 margin-top: 950px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgba(0, 54, 61));

}
.end .imag{
  background-image: url('../images/backtoschool-07Converted.png');
  width:1210px;
 max-width:1300px;
 height: 100%;
 background-size:cover;
 position: absolute;
 margin-top: 0px;
 overflow: hidden;
}

.end .imag .image1 img{
 width: 100%;
  position: absolute;
  overflow: hidden;
 margin-top: 100px;
}

.end .imag .image2 img{
 width: 12%;
 margin-top: 30px;
 position: absolute;
 margin-left: 260px;
}
.end .imag .image3 img{
 width: 12%;
margin-top: 130px;
position: absolute;
 margin-left:140px;
}
.end .link li{
 list-style: none;
}
.end .link li a{
 color: #000;
 font-size: 25px;
}
.end .link li .link1{
 margin: 60px 0 0 230px;
 position: absolute;
 text-decoration: none;
}
.end .link li .link2{
 margin: 160px 0 0 120px;
 position: absolute;
 text-decoration: none;
}
.end .link .social i{
 font-size: 40px;
}
.end .link .social .social1{
  margin: 140px 0 0 830px;
 position: absolute;
}
.end .link .social .social2{
  margin: 360px 0 0 860px;
 position: absolute;
}
.end .link .social  p{
 color: #fff;
 margin-top: 470px;
  margin-left:320px;
  font-size: 20px;
 position: absolute;
}
}